:root:root[theme='dark'] {
  //背景颜色
  --bg-color: #000;
  --bg-color-2: #1a1a1a;
  --bg-color-3: #3a3a3c;
  --van-background: #000;
  --van-background-2: #1a1a1a;
  --van-background-3: #37363b;
  //文字颜色
  --text-color: #f5f5f5;
  --van-text-color: #f5f5f5;
  --van-text-color-2: #707070;
  --van-text-color-3: #4d4d4d;
  //边框
  --border-color: #000;
  --van-border-color: #3a3a3c;
  //vant-picker样式
  --van-picker-mask-color: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  //vant 活动样式
  --van-active-color: #3a3a3c;
}
